<div class='card'>
    <h1><%= contestant.name_native %></h1>
    <h2><%= contestant.name_english %></h2>
    <div class='headshot'><%= image_tag contestant.headshot_url %></div>
    <div class='bodyshot'><%= image_tag contestant.bodyshot_url %></div>
</div>