<div class='group mb-4'>
    <div class='row contestants m-0'>
        <% if group.present? %>
            <% group.ordered_contestants.each do |contestant| %>
                <%= render partial: 'contestants/contestant_nameplate_half', locals: { contestant: contestant, group: group } %>
            <% end %>
        <% end %>
    </div>
</div>