<div class='container'>
    <h2>My Groups</h2>
    <div class='topic posts'><%= render @groups %></div>
    <div>
        <%= link_to 'New Group', new_group_path, class: 'btn btn-primary' %>
    </div>
</div>