<div class='container'>
    <h2>My Groups</h2>
    <% current_user.groups.each do |group| %>
        <%= render partial: 'group_summary', locals: { group: group } %>
        <hr>
    <% end %>
    <div class='actions'>
        <%= link_to 'Start New Group', new_group_path, class: 'btn btn-primary' %>
    </div>
</div>