.contestants
    max-width: 100%

    .btn
        max-width: 100%

    &.show
        justify-content: center

        .performance
            h3
                font-size: 18px

.contestant
    .pick-them
        justify-content: center

        .btn
            background: #495276
            color: white
            padding: 20px
            width: 100%

.contestant-nameplate-full
    border: 1px solid #cccccc
    margin: auto

    h1, h2
        text-align: center

    width: 175px

    .actions
        .btn
            border: none
            width: 100%

    .bodyshot
        img
            max-width: 100%

    .headshot
        display: flex
        padding: 15px

        img
            border-radius: 50%
            height: 150px
            max-width: 100%
            width: 150px

    .like
        align-content: center
        border-bottom: 1px solid #ccc
        display: flex
        font-size: 32px
        font-weight: bold
        justify-content: center

        a
            color: #b75dff
    .name
        height: 125px

        .english
            color: #b5b5b5
            font-size: 16px

    .rank
        align-items: center
        background-color: #b75dff
        color: white
        display: flex
        font-size: 24px
        font-weight: bold
        justify-content: center

.contestant-nameplate-half
    background-color: white
    border: 1px solid #cccccc
    margin: 5px

    max-width: 100px

    .actions
        display: none

        .btn
            align-items: center
            border: none
            display: flex
            font-size: 14px
            height: 50px
            justify-content: center
            width: 100%

    .bodyshot
        img
            max-width: 100%

    .center-label
        color: #495175
        display: flex
        font-size: 14px
        font-weight: bold
        justify-content: center

    .headshot
        display: flex
        padding: 15px

        img
            border-radius: 50%
            height: 68px
            max-width: 100%
            width: 68px

    .name
        height: 125px
        padding: 5px

        h2
            font-size: 18px
            text-align: center

        .english
            color: #b5b5b5
            font-size: 16px

.home
    .contestant-nameplate-full
        float: left
        margin: 5px