.group
    .actions
        display: none

.groups
    .member
        float: left
        margin: 0 15px 15px 0
        width: 250px

        .english
            font-size: 16px

        .headshot
            float: left
            margin-right: 5px
            width: 50px

            img
                border-radius: 50%
                max-width: 100%

        .native
            font-size: 18px
            font-weight: bold

    &.edit
        .actions
            display: inline
            font-size: 16px

    &.index
        .actions
            .btn-primary
                width: 200px
