.groups
    .group
        .actions
            font-size: 18px

    &.edit
        .contestant-nameplate-half
            .actions
                display: inline

            .center-label
                display: none

    &.index
        .actions
            .btn-primary
                width: 200px
