.homepage
    .jumbotron
        background-color: #e7f3f1
        margin: 0
        padding: 30px 50px 30px 50px

        .the-group
            margin: 20px
            text-align: center

    .lead
        .btn
            width: 150px

    .member
        float: left
        margin: 0 15px 15px 0
        width: 250px

        .english
            font-size: 16px

        .headshot
            float: left
            margin-right: 5px
            width: 50px

            img
                border-radius: 50%
                max-width: 100%

        .native
            font-size: 18px
            font-weight: bold

    .separator
        align-items: center
        background-color: #e7f3f1
        display: flex
        height: 100px
        justify-content: center
        margin: 30px auto 15px auto
        text-align: center

        h1
            font-size: 24px

        h1, h2
            color: #495175
