.homepage
    .contestant-nameplate-half
        .actions
            display: none

    .jumbotron
        background-color: #e7f3f1
        margin: 0
        padding: 30px 100px 30px 100px

        .manage-group
            display: none

        .the-group
            margin: 20px
            text-align: center

    .lead
        .btn
            width: 150px

    .separator
        align-items: center
        background-color: #e7f3f1
        display: flex
        height: 100px
        justify-content: center
        margin: 30px auto 15px auto
        text-align: center

        h1
            font-size: 24px

        h1, h2
            color: #495175
