.oijofie
  padding-top: 70px

  a
    color: #003dfc
    text-decoration: none

    &.btn
      border-radius: 0

    &.btn-primary
      background-color: #003dfc
      color: white

    &.btn-secondary
      background-color: white
      color: #2d2d2d

  footer
    border-top: 2px solid lightgray
    margin: 20px

    p
      font-size: 14px

  form
    input[type=text], input[type=email], input[type=password], textarea
      padding-left: 10px

    .btn
      border-radius: 0
      background-image: none
      font-size: 18px
      font-weight: bold
      padding: 15px
      border: none
      text-shadow: none
      width: 150px

    .btn-primary
      background-color: #007bff
      color: white

    .btn-secondary
      background-color: white
      color: #2d2d2d

    .field
      label
        color: darkgray
        font-size: 18px

  h1, h2, h3, h5, p
    color: #2d2d2d

  h1, h2, h3
    font-weight: bold

  h1
    font-size: 32px

  h2
    font-size: 24px

  h3
    font-size: 22px

  h4
    font-size: 20px

  h5
    font-size: 16px
    font-weight: bold

  label
    &.required:after
      color: red
      content: "\00a0 *"

  p
    font-size: 18px
    margin: 0

.btn
  border-radius: 0
  background-image: none
  font-size: 18px
  font-weight: bold
  padding: 15px
  border: none
  text-shadow: none
  width: 150px

.btn-primary
  background-color: #003dfc
  color: white

.btn-secondary
  background-color: white
  color: #2d2d2d