<nav class='navbar navbar-light bg-light navbar-expand-md fixed-top'>
  <%= link_to 'Oijofie', root_path, class: 'navbar-brand' %>
  <button class='navbar-toggler' type='button' data-toggle='collapse' data-target='#navbarsRinchan' aria-controls='navbarsRinchan' aria-expanded='false' aria-label='Toggle navigation'>
    <span class='navbar-toggler-icon'></span>
  </button>

  <div class='collapse navbar-collapse' id='navbarsRinchan'>
    <ul class='navbar-nav mr-auto'>
      <li class='nav-item'><%= link_to 'お問い合わせ', about_path, class: 'nav-link' %></li>
    </ul>
  </div>
</nav>

<% flash.each do |key, message| %>
  <p role='alert' class='<%= key == 'notice' ? 'alert alert-success' : 'alert alert-warning' %>'><%= message %></p>
<% end %>
